.card-group{
    display: flex;
    div{
        width:50%;
        padding:40px;
        margin:20px;
        &:hover{
            cursor: pointer;
            background-color: #919191;
            color: white;
        }
    }
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -20px;
    z-index: -10;
    width: 1920px;
}
